<app-carrusel></app-carrusel>
<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{ title }}</h3>

      <div class="text-start">
        <a type="button" class="btn btn-primary" routerLink="/productos/form">Agregar producto</a>
      </div>
    </div>

    <div class="card-body">
      <!-- Filtrar por palabra clave -->
      <div class="row mb-4">
        <div class="col-6 form-group">
          <label form="filterPalabra">Filtrar por nombre:</label>
          <input type="text" [(ngModel)]="filterPalabra" name="filterPalabra" class="form-control" />
        </div>

        <!-- Filtrar por categoría -->
        <div class="col-6">
          <label form="filterCategoria">Filtrar por categoría:</label>
          <select
            class="form-select"
            [(ngModel)]="filterCategoria"
            name="filterCategoria"
          >
            <option *ngFor="let cat of categorias" value="{{ cat }}">
              {{ cat }}
            </option>
          </select>
        </div>
      </div>

      <div class="row justify-content-center">
        <div
          class="card col-4 my-4 mx-4"
          *ngFor="
            let producto of productos
              | filtroPaginacion: page:filterPalabra
              | filtroCategoria: filterCategoria
          "
        >
          <div class="card-title text-center p-4">
            <img
              [src]="
                producto.img != ''
                  ? producto.img
                  : '../../../assets/img/not-found.png'
              "
              alt="Imagen del producto en venta"
              srcset=""
            />
          </div>

          <div class="card-body">
            <div class="row text-center mb-3">
              <strong class="nombre-producto">{{ producto.nombre }}</strong>
            </div>

            <div class="row mb-3">
              <div class="col-2 text-end">
                <i class="fas fa-dollar-sign"></i>
              </div>

              <div class="col-10 text-start">
                <strong>{{ producto.precio | currency: 'CLP' }}</strong>
              </div>
            </div>

            <div class="row">
              <div class="col-2 text-end">
                <i class="fas fa-check"></i>
              </div>

              <div class="col-10 text-start">
                <p>{{ producto.categoria }}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-2 text-end">
                <i class="fas fa-check"></i>
              </div>

              <div class="col-10 text-start text-justify">
                <p>{{ producto.descripcion }}</p>
              </div>
            </div>

            <div class="row justify-content-center my-3 border-top pt-3">
              <div class="col-6">
                <form>
                  <div class="form-group">
                    <input
                      type="number"
                      class="form-control"
                      id="cantidadP"
                      name="cantidad"
                      required
                      min="1"
                      [(ngModel)]="cantidadCarrito"
                    />
                  </div>
                </form>
              </div>

              <div class="col-4">
                <button
                  id="agregar"
                  type="submit"
                  role="button"
                  class="btn btn-primary me-2"
                  (click)="addToCarrito(producto)"
                 >
                  Agregar
                </button> 
              </div>
            </div>

            <div class="container text-center border-top pt-3">
              <button
                type="button"
                role="button"
                class="btn btn-warning me-1"
                [routerLink]="['/productos/editar/', producto.id]"
              >
                Editar
              </button>

              <!-- <button
                type="button"
                role="button"
                class="btn btn-danger ms-1"
                (click)="deleteProducto(producto.id)"
                
              >
                Eliminar
              </button> -->
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer pt-4 text-center">
        <button class="btn btn-primary" (click)="prevPage()">Anterior</button
        >&nbsp;
        <button class="btn btn-primary" (click)="nextPage()">Siguiente</button>
      </div>
    </div>
  </div>
</div>
